@contentWidth: 600px;

header {
  font-family: 'Open Sans';
  font-size: 48px;
  letter-spacing: 2em;
  text-align: center;
  background: tomato;
  color: #fff;
  margin-right: -2em; // wtf css?
}

#great {
  width: @contentWidth;
  margin: 0 auto;
  padding: 60px 0;
  clear: both;

  .columns {
    clear: both;
    overflow: auto;

    .left {
      float: left;
      width: @contentWidth / 2;
    }

    .right {
      float: right;
      width: @contentWidth / 2;

      text-align: right;

      &.disabled {
        opacity: 0.25;
      }
    }
  }

  .bottom {
    margin-top: 40px;

    text-align: center;
  }
}
