 <li>
   <form><input value="{{name}}" class="populated" tabindex="10" type="text" placeholder="Become queen of the universe"></form>
 </li>

{{!
 <li>
   <form><input tabindex="20" type="text" placeholder="Conquer distant galaxies"></form>
 </li>
 <li>
   <form><input class="populated" tabindex="30" type="text" placeholder="Rule with an iron fist" value="Write the great French treatise"></form>
 </li>
 <li>
   <form><input tabindex="40" type="text" placeholder="Control the fundamental forces"></form>
 </li>
}}