<ol>
  <li class="open">
    <a href="#"><i class="opener cow icon-plus-sign"></i>That one with the amazing things</a>
    <ol>
      <li><a href="#"><i class="icon-check-empty"></i>Duck</a></li>
      <li><a href="#"><i class="icon-check-empty"></i>Right</a></li>
      <li><a href="#"><i class="icon-check-empty"></i>Now</a></li>
    </ol>
  </li>
  <li><a href="#"><i class="icon-plus-sign"></i>That one with the London things</a></li>
  <li><a href="#"><i class="icon-plus-sign"></i>That one with the colorful things</a></li>
</ol>
