<a href="/"><i class="back icon-chevron-sign-left"></i></a>
<a class="title"href="{{url}}">
  {{title}}
</a>

<div class="categories">
  Categories:
  {{#each categories}}
    {{this}}
  {{/each}}
</div>

<ol class="todo-list">
  {{! many todo }}
</ol>
