<i class="opener icon-plus-sign"></i>
<a class="title"href="{{url}}">
  {{title}}
</a>

{{#if showFullDetail}}
  <div class="categories">
    Categories:
    {{#each categories}}
      {{this}}
    {{/each}}
  </div>
{{/if}}

<ol class="todo-list">
  {{! many todo }}
</ol>
