<a href="{{url}}">
  {{#if complete}}
    <i class="icon-check-sign"></i>
  {{else}}
    <i class="icon-check-empty"></i>
  {{/if}}

  {{name}}

  {{#if showFullDetail}}
    <div class="memo">{{memo}}</div>
  {{/if}}
</a>
